@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: 'Roboto Mono';
}

.app-container {
    background-color: #343a40;
    color: white;
    min-height: 100vh;
}

.btn-gold {
    background-color: #FFD067 !important;
    color: #343a40 !important;
    font-weight: bold !important;
    border: none !important;
}

.btn-gold:hover {
    background-color: #d1a952 !important;
}